.popup3 {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 144px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

#studentTable {
  width: 200%;
  border-collapse: collapse;
  margin-bottom: 100px;
  margin-left: 200px;
}

#studentTable th,
#studentTable td {
  border: 2px solid #ddd;
  padding: 15px;
  
  
}
