.nav1{
    background-color: #ccc;
    padding-left: 10px;
    font-size: larger;
    height: 71vh;
    width: 10vw;
    padding-top:50px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
      
.nav1 a {
    color: #f2f2f2;
       
      }
      
.nav1 a:hover {
      background-color: #ddd;
      color:blue; 
      }
.nav1 button{
      width: 100px;
      padding: 10px;
      color:white;
      background-color:rgb(36, 108, 136);
    }