.nav {
  background-color: rgb(138, 138, 247);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  font-size: larger;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 50px;
  text-decoration: none;
  padding-right: 200px;
}

.popup {
  display: none;
  position: fixed;
  left: 82%;
  top: 24%;
  transform: translate(-50%, -50%);
  background-color: pink;
  border: 1px solid #ccc;
  padding: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.popup button {
  width: 100px;
  padding: 10px;
  color: green;
}
